.row
    .col-xl-6
        vc-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "chart-area"]')
                | Area Chart Example
            .card-body
                vc-charts-area
                
            
    .col-xl-6
        vc-card
            .card-header
                fa-icon.mr-1([icon]='["fas", "chart-bar"]')
                | Bar Chart Example
            .card-body
                vc-charts-bar
