<div class="row">
    <div class="col-xl-6">
        <vc-card
            ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-area"]'></fa-icon>Area Chart Example</div>
            <div class="card-body"><vc-charts-area></vc-charts-area></div
        ></vc-card>
    </div>
    <div class="col-xl-6">
        <vc-card
            ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>Bar Chart Example</div>
            <div class="card-body"><vc-charts-bar></vc-charts-bar></div
        ></vc-card>
    </div>
</div>
