<vc-layout-dashboard [static]="true"
    ><vc-dashboard-head title="Dashboard Static" [hideBreadcrumbs]="false"></vc-dashboard-head><vc-dashboard-cards></vc-dashboard-cards><vc-dashboard-charts></vc-dashboard-charts><vc-dashboard-tables></vc-dashboard-tables
    ><vc-card
        ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-pie"]'></fa-icon>Pie Chart Example</div>
        <div class="card-body"><vc-charts-pie></vc-charts-pie></div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div></vc-card
    ></vc-layout-dashboard
>
